@media screen and (min-width: 768px) {
    

    .imagem {
        grid-column: 2;

        background-position: bottom;
    }

    #principal > h1 {
        display: inline;

        grid-column: 2;
    }

    #album {
        grid-column: 1 / -1;
        grid-row: 3 / 4;

        display: flex;
        flex-flow: row wrap;

    }

    #album h2 {
        width: 100%;
    }
}
