@media screen and (min-width: 768px) {

    .sobre-flex {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-between;
        align-items: center;

        gap: 0px;
    }

    #sobre .video {
        margin: 0px;
        padding: 0px;

        width: 45vw;
    }

    #sobre p {
        width: 45vw;
        padding: 10px;
    }
    

    .imagem {
        grid-column: 2;

        background-position: bottom;
    }

    #principal > h1 {
        display: inline;

        grid-column: 2;
    }

    #album {
        grid-column: 1 / -1;
        grid-row: 3 / 4;

    }

    #album .album-grid {
        display: flex;
        flex-flow: row wrap;
    }

    #album h2 {
        width: 100%;
    }
}

@media screen and (min-width: 1087px) {
    .sobre-flex {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-around;
        align-items: center;
    }

    #sobre > h2 {
        
    }

    #sobre .video{
        padding: 20px;
        width: 50%;
        padding: 0;
    }

    #sobre .sobre-texto {
        padding: 10px;
        margin: 0;
        width: 40%;
    }

    #sobre p {
        max-width: 450px;
        margin: 0;
    }

}
